body{
margin:0;
font-family:Arial;
background:#f1f5f9;
display:flex;
justify-content:center;
height:100vh;
}

.dark{
background:#0f172a;
color:white;
}

.app{
max-width:420px;
width:100%;
display:flex;
flex-direction:column;
}

header{
background:#1e293b;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
}

.controls{
display:flex;
gap:5px;
padding:10px;
}

.controls input{
flex:1;
padding:10px;
}

main{
flex:1;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:20px;
}

.card{
background:white;
padding:30px;
border-radius:16px;
height:60vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
font-size:22px;
transition:transform .25s, opacity .25s;
}

.dark .card{
background:#1e293b;
}

button{
padding:12px;
margin-top:10px;
width:100%;
border:none;
border-radius:10px;
background:#2563eb;
color:white;
}
