body{
font-family:Arial;
background:#f2f2f2;
margin:0;
padding:0;
text-align:center;
}

.card{
background:white;
margin:30px auto;
padding:30px;
border-radius:12px;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
cursor:pointer;
}

.big{
width:80%;
font-size:28px;
}

.medium{
width:60%;
font-size:20px;
}

.small-next{
font-size:12px;
color:gray;
margin-top:20px;
}
