body{
font-family:Arial;
background:#f0f2f5;
margin:0;
text-align:center;
}

header{
background:#003366;
color:white;
padding:15px;
}

.version{
font-size:12px;
}

.flashcard{
background:white;
margin:20px auto;
padding:25px;
border-radius:15px;
width:85%;
max-width:500px;
box-shadow:0 4px 12px rgba(0,0,0,0.2);
cursor:pointer;
}

.flashcard.large{
font-size:20px;
min-height:200px;
}

.flashcard.medium{
font-size:18px;
min-height:120px;
}

.flashcard.start{
font-size:24px;
min-height:250px;
background:#0066cc;
color:white;
}

.next{
font-size:12px;
margin-top:15px;
color:#666;
}
